<template>
    <div class="container mx-auto max-w-screen-sm my-4 px-2 lg:px-0">
        <nav class="flex">
            <h1 class="flex items-center mr-8 text-2xl">
                <font-awesome-icon
                    :icon="['fab', 'youtube']"
                    size="lg"
                    :style="{ color: 'red' }"
                />
                <span class="ml-2 pb-1">YouTube詳細検索</span>
            </h1>
        </nav>
        <h2 class="my-4 mx-1">
            普通のyoutube動画検索ではできない、高度な条件での詳細検索ができます。<br />
            現在は再生時間を指定して検索のみができますが、今後要望に応じて検索条件を追加していきます。<br />
            対応できる条件は、普通のyoutube動画検索にあるフィルタをよりピンポイントな数字で指定できることに加え、高評価数・再生数なども指定できます。<br />
            検索条件の要望やエラー報告は、<a
                class="text-blue-600 border-b border-blue-600"
                href="https://form.run/@yahoo-1645596689"
                target="_blank"
                >こちら</a
            >のフォームから匿名で簡単にできます。<br />
        </h2>
        <div class="mt-4 mr-2 p-3">
            <div class="flex">
                <div class="w-32">検索キーワード：</div>
                <input
                    class="border border-gray-300 rounded-sm px-3 flex-grow"
                    v-model="keyword"
                    type="text"
                    @keyup.enter="search"
                />
            </div>
            <div class="mt-4 flex">
                <div class="w-32">再生時間：</div>
                <input
                    v-model="duration.from"
                    type="text"
                    class="border border-gray-300 rounded-sm w-10 flex-grow"
                />
                <span class="mx-2">分 ～</span>

                <input
                    v-model="duration.to"
                    type="text"
                    class="border border-gray-300 rounded-sm w-10 flex-grow"
                />
                <span class="mx-2">分</span>
            </div>
            <div class="flex h-10 mt-4 justify-end">
                <button
                    type="submit"
                    @click="search"
                    class="
                        border-solid border border-gray-300
                        rounded-sm
                        px-2
                        bg-gray-100
                    "
                >
                    詳細検索
                </button>
            </div>
        </div>

        <div class="mt-10">
            <article
                v-for="(result, index) in results"
                :key="index"
                class="mb-8"
            >
                <a
                    :href="'https://www.youtube.com/watch?v=' + result.id"
                    target="_blank"
                    class="flex flex-col lg:flex-row h-38"
                >
                    <div>
                        <img
                            width="212"
                            class="max-w-none hidden lg:flex"
                            :src="result.snippet.thumbnails.high.url"
                        />
                        <img
                            class="max-w-none w-full lg:hidden"
                            :src="result.snippet.thumbnails.high.url"
                        />
                    </div>
                    <div class="ml-4 lg:flex flex-wrap flex-1 flex-col hidden">
                        <div
                            class="text-lg webkit-line-clamp-2 overflow-hidden"
                        >
                            {{ result.snippet.localized.title }}
                        </div>
                        <div class="text-sm text-gray-400">
                            <div>
                                再生時間
                                {{
                                    Math.floor(
                                        pt2sec(result.contentDetails.duration) /
                                            3600
                                    )
                                }}
                                :{{
                                    Math.floor(
                                        (pt2sec(
                                            result.contentDetails.duration
                                        ) %
                                            3600) /
                                            60
                                    )
                                }}
                                :{{
                                    pt2sec(result.contentDetails.duration) % 60
                                }}
                                ・
                                {{ result.statistics.viewCount }}回視聴 ・
                                {{ result.snippet.publishedAt.substr(0, 10) }}
                            </div>
                            <div class="my-2">
                                {{ result.snippet.channelTitle }}
                            </div>
                            <div class="webkit-line-clamp-2 overflow-hidden">
                                {{ result.snippet.localized.description }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="
                            px-2
                            lg:px-0 lg:ml-4 lg:flex
                            flex-wrap flex-1 flex-row
                            lg:hidden
                        "
                    >
                        <div class="bold my-2">
                            {{ result.snippet.localized.title }}
                        </div>
                        <div class="text-sm text-gray-400">
                            <div>
                                {{ result.snippet.channelTitle }} ・ 再生時間
                                {{
                                    Math.floor(
                                        pt2sec(result.contentDetails.duration) /
                                            3600
                                    )
                                }}
                                :{{
                                    Math.floor(
                                        (pt2sec(
                                            result.contentDetails.duration
                                        ) %
                                            3600) /
                                            60
                                    )
                                }}
                                :{{
                                    pt2sec(result.contentDetails.duration) % 60
                                }}
                                ・ {{ result.statistics.viewCount }}回視聴 ・
                                {{ result.snippet.publishedAt.substr(0, 10) }}
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</template>

<script>
import axios from "axios";

const KEY = "AIzaSyCoZx7nN3qZZV3JJ0K_m1DB4Z1Mg3bw2VM";

export default {
    data() {
        return {
            keyword: "",
            duration: {
                from: "指定なし",
                to: "指定なし",
            },
            results: [],
        };
    },
    methods: {
        async search() {
            if (this.keyword == "") {
                alert("検索キーワードを入力してください");
                return;
            }

            const videosRes = await axios
                .get("https://www.googleapis.com/youtube/v3/search", {
                    params: {
                        part: "id",
                        q: this.keyword,
                        type: "video",
                        eventType: "completed",
                        maxResults: 30,
                        videoDuration: this.videoDuration(),
                        order: "relevance",
                        key: KEY,
                    },
                })
                .catch((err) => {
                    return err.response;
                });
            if (videosRes.status !== 200) {
                alert(
                    "アクセスが集中している可能性があります。何度か検索してもこのエラーが出る場合は、また翌日以降ご利用ください。"
                );
                console.log(videosRes);
                return;
            }

            let items = [];
            for (let i = 0; i < videosRes.data.items.length; i++) {
                const videoDetailRes = await axios
                    .get("https://www.googleapis.com/youtube/v3/videos", {
                        params: {
                            part: "snippet,statistics,contentDetails",
                            id: videosRes.data.items[i].id.videoId,
                            key: KEY,
                        },
                    })
                    .catch((err) => {
                        return err.response;
                    });
                if (videoDetailRes.status !== 200) {
                    alert(
                        "アクセスが集中している可能性があります。何度か検索してもこのエラーが出る場合は、また翌日以降ご利用ください。"
                    );
                    console.log(videoDetailRes);
                    return;
                }

                const item = videoDetailRes.data.items[0];
                const sec = this.pt2sec(item.contentDetails.duration);
                const from = this.durationFrom();
                const to = this.durationTo();

                if (sec > from && sec < to) {
                    items.push(item);
                }
            }
            if (items.length == 0) {
                alert("検索結果はありませんでした。");
                return;
            }
            this.results = items;

            return;
        },

        videoDuration() {
            if (this.durationFrom() >= 4 * 60 && this.durationTo() <= 20 * 60) {
                return "medium";
            }
            if (this.durationTo() < 4 * 60) {
                return "short";
            }
            if (this.durationFrom() > 20 * 60) {
                return "long";
            }

            return "any";
        },

        durationFrom() {
            return this.duration.from.match(/^([1-9]\d*|0)$/)
                ? this.duration.from * 60
                : 0;
        },
        durationTo() {
            return this.duration.to.match(/^([1-9]\d*|0)$/)
                ? this.duration.to * 60
                : Infinity;
        },

        pt2sec(duration) {
            const match = duration.match(/PT(\d+H)?(\d+M)?(\d+S)?/);

            const slice = match.slice(1).map(function (x) {
                if (x != null) {
                    return x.replace(/\D/, "");
                }
            });

            const hours = parseInt(slice[0]) || 0;
            const minutes = parseInt(slice[1]) || 0;
            const seconds = parseInt(slice[2]) || 0;

            return hours * 3600 + minutes * 60 + seconds;
        },
    },
};
</script>