<template>
    <Search />
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "IndexPage",

    head() {
        return {
            title: "YouTube詳細検索",
            meta: [
                {
                    name: "google-site-verification",
                    content: "lBHU5m2kfM4abc6sIl23tif9jhOIUuK8_Rz8k3M1CwI",
                },
                {
                    hid: "description",
                    name: "description",
                    content:
                        "普通のyoutube動画検索ではできない、高度な条件での詳細検索ができます。現在は再生時間を指定しての検索のみできますが、今後要望に応じて検索オプションを追加していきます。",
                },
                {
                    hid: "og:url",
                    name: "og:url",
                    content: "https://youtube-search.ml",
                },
                {
                    hid: "og:description",
                    name: "og:description",
                    content:
                        "普通のyoutube動画検索ではできない、高度な条件での詳細検索ができます。現在は再生時間を指定しての検索のみできますが、今後要望に応じて検索オプションを追加していきます。",
                },
            ],
            link: [
                {
                    rel: "canonical",
                    href: "https://youtube-search.ml",
                },
            ],
        };
    },
});
</script>
